name: Release

on:
  workflow_dispatch:
    inputs:
      ipa_url:
        description: "Direct link to the decrypted IPA"
        default: ""
        required: true
        type: string

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  build-ipa:
    runs-on: macos-14

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Revenge Tweak
        run: |
          wget https://github.com/revenge-mod/revenge-tweak/releases/latest/download/io.github.revenge-mod.app_1.0.0_iphoneos-arm.deb
      
      - name: Download Discord IPA
        run: |
          curl -L -o discord.ipa ${{ github.event.inputs.ipa_url }}
          
      - name: Download OpenInDiscord
        run: |
          wget https://raw.githubusercontent.com/daisuke1227/RevengeUpdates/refs/heads/main/OpenDiscordSafariExtension.zip
          unzip -q OpenDiscordSafariExtension.zip

      - name: Add OpenInDiscord
        run: |
          unzip -q discord.ipa
          cp -r OpenDiscordSafariExtension.appex Payload/Discord.app/Plugins/
          
      - name: Download IPA icons
        run: |
          curl -L -o ipa-icons.zip https://raw.githubusercontent.com/pyoncord/assets/main/ipa-icons.zip
          unzip ipa-icons.zip

      - name: Extract Values
        run: |
          PACKAGE=$(grep '^Package:' control | cut -d ' ' -f 2)
          VERSION=$(grep '^Version:' control | cut -d ' ' -f 2)
          echo "APP_NAME=Revenge" >> $GITHUB_ENV

      - name: Install cyan
        run: pip install --force-reinstall https://github.com/asdfzxcvbn/pyzule-rw/archive/main.zip Pillow

      - name: Inject tweak - Normal Revenge
        run: |
          cyan -n ${{ env.APP_NAME }} -k PyoncordIcon60x60@2x.png -d -i Payload/Discord.app -o ${{ github.workspace }}/${{ env.APP_NAME }}.ipa -f ${{ github.workspace }}/io.github.revenge-mod.app_1.0.0_iphoneos-arm.deb -usg

      - name: Download DiscordNoTrack
        run: wget https://github.com/asdfzxcvbn/DiscordNoTrack/releases/latest/download/DiscordNoTrack.dylib

      - name: Inject tweak - Revenge + DiscordNoTrack
        run: |
          cyan -n ${{ env.APP_NAME }} -k PyoncordIcon60x60@2x.png -d -i Payload/Discord.app -o ${{ github.workspace }}/${{ env.APP_NAME }}-discordnotrack.ipa -f ${{ github.workspace }}/io.github.revenge-mod.app_1.0.0_iphoneos-arm.deb ${{ github.workspace }}/DiscordNoTrack.dylib -usg

      - name: Upload ipa as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ipa
          path: ${{ github.workspace }}/${{ env.APP_NAME }}.ipa

      - name: Upload ipa-discordnotrack as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ipa-discordnotrack
          path: ${{ github.workspace }}/${{ env.APP_NAME }}-discordnotrack.ipa

  release-app:
    runs-on: macos-14
    needs: build-ipa
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract Values
        run: |
          PACKAGE=$(grep '^Package:' control | cut -d ' ' -f 2)
          VERSION=$(grep '^Version:' control | cut -d ' ' -f 2)
          echo "APP_NAME=Revenge" >> $GITHUB_ENV

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Extract Discord Version
        run: |
          unzip -q Revenge.ipa
          DISCORD_VERSION=$(plutil -p Payload/Discord.app/Info.plist | grep CFBundleShortVersionString | cut -d '"' -f 4)
          echo "DISCORD_VERSION=$DISCORD_VERSION" >> $GITHUB_ENV
          REVENGE_SIZE=$(stat -f%z "Revenge.ipa")
          REVENGE_NOTRACK_SIZE=$(stat -f%z "Revenge-discordnotrack.ipa")
          echo "REVENGE_SIZE=$REVENGE_SIZE" >> $GITHUB_ENV
          echo "REVENGE_NOTRACK_SIZE=$REVENGE_NOTRACK_SIZE" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.DISCORD_VERSION }}
          files: |
            Revenge.ipa
            Revenge-discordnotrack.ipa
          generate_release_notes: true
          fail_on_unmatched_files: true
          token: ${{ env.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate AltStore Source
        run: |
          cat > repo.json << EOF
          {
            "name": "Cris' Custom Revenge Builds",
            "identifier": "com.cris.revengebuilds",
            "sourceURL": "https://raw.githubusercontent.com/${{ github.repository }}/main/repo.json",
            "apps": [
              {
                "name": "Revenge",
                "bundleIdentifier": "com.hammerandchisel.discord",
                "developerName": "Cristiandis",
                "version": "${{ env.DISCORD_VERSION }}",
                "versionDate": "$(date -u +"%Y-%m-%dT%H:%M:%SZ")",
                "downloadURL": "https://github.com/${{ github.repository }}/releases/download/v${{ env.DISCORD_VERSION }}/Revenge.ipa",
                "localizedDescription": "Discord with Revenge injected",
                "iconURL": "https://avatars.githubusercontent.com/u/159218871?s=200&v=4"
                "size": ${{ env.REVENGE_SIZE }}
              },
              {
                "name": "Revenge NoTrack",
                "bundleIdentifier": "com.hammerandchisel.discord",
                "developerName": "Cristiandis",
                "version": "${{ env.DISCORD_VERSION }}",
                "versionDate": "$(date -u +"%Y-%m-%dT%H:%M:%SZ")",
                "downloadURL": "https://github.com/${{ github.repository }}/releases/download/v${{ env.DISCORD_VERSION }}/Revenge-discordnotrack.ipa",
                "localizedDescription": "Discord with Revenge and NoTrack injected",
                "iconURL": "https://avatars.githubusercontent.com/u/159218871?s=200&v=4"
                "size": ${{ env.REVENGE_NOTRACK_SIZE }}
              }
            ],
            "news": [
              {
                "title": "Revenge Updated",
                "identifier": "revenge-release-${{ env.DISCORD_VERSION }}",
                "caption": "New Discord Version with Revenge",
                "date": "$(date -u +"%Y-%m-%dT%H:%M:%SZ")",
                "tintColor": "#ae3238"
              }
            ]
          }
          EOF

      - name: Commit repo.json
        uses: EndBug/add-and-commit@v9
        with:
          add: "repo.json"
          message: "Update AltStore repo for version ${{ env.DISCORD_VERSION }}"
          default_author: github_actions
          fetch: false
